# Git Ignore for Example Projects

**.project
**.cproject
**.prj
.sdk
.Xil
.metadata
.analytics

IDE.log
webtalk
RemoteSystemsTempFiles
reg_bank_app_system
zybo_reg_bank_platform

reg_bank_app/Debug
reg_bank_app/_ide


